<!doctype html>
<html lang="<%= lang %>">
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<link rel="stylesheet" media="screen" href="/styles/app.css" />
		<link rel="shortcut icon" href="<%= favicon %>" />
	</head>
	<body>
		<div id="main"><%- reactOutput %></div>
	</body>
</html>
